#main {
  width: 100%;
  height: 100%;
}

.search-view {
  .summoner-find-icon {
    cursor: pointer;
  }
}

.search-dropdown{
  width: 100%;
  .caret {
    float: right;
    margin-top: 7px;
  }
}

.game-stats-box {
  padding-top: 0;
}